@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.my-div, .a{
    transition: all 0.35s;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #1a1a1a;
  }
  
  .no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
   
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .animated-box {
    opacity: 0; /* Start with invisible */
    transform: translateY(50px); /* Start positioned below */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInSlideIn 0.1s ease-out forwards;
}

@keyframes fadeInSlideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.breadcrumb-box {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInSlideDown 0.15s ease-out forwards;
    z-index: 100;
}

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}